@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

html,
body {
  height: 100vh;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "pretendard";
  font-weight: 400;
}

.Container p {
  margin: 0;
  margin-bottom: 16px;
}

.Input_Container {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin-bottom: 1em;
}

.Container ul {
  list-style: none;
}

.Container li {
  display: flex;
  gap: 3em;
  margin-bottom: 1em;
}
